In [1]:
import pandas as pd

In [2]:
# Laden der CSV-Datei
df_stations = pd.read_csv('data/stations.csv')
df_stations

,entityId,station_name,maximum_capacity,latitude,longitude,subarea
0,30434,Felde Gemeindezentrum,18,54.299552,9.933817,Felde
1,30207,Sporthalle Saxtorfer Weg,15,54.487005,9.835833,Eckernförde
2,30151,Eiche Daenischenhagen,15,54.424663,10.127872,Kiel
3,30147,Bushaltestelle Eiderbruecke,15,54.289706,10.090042,Kiel Umland
4,30146,Herzog Friedrich Strasse ZOB,25,54.317114,10.133099,Kiel
...,...,...,...,...,...,...
190,24370,Alter Markt,25,54.322799,10.139499,Kiel
191,24369,Alte Mu Brunswiker Str,15,54.327583,10.141500,Kiel
192,24368,Umsteiger,22,54.314861,10.131167,Kiel
193,24367,Anleger Dietrichsdorf,30,54.329611,10.178556,Kiel
194,99999,test,20,54.094400,10.252300,Plön

In [ ]:
df_philip = pd.read_excel('data/Stationen nach Ausliehgebieten.xlsx', engine='openpyxl', sheet_name='Tabelle2')

In [4]:
df_philip

,Schlüssel,Stationsname,Ausleihgebiet
0,24418,Stolbergring,Eckernförde
1,24427,Bahnhof Eckernförde,Eckernförde
2,24428,Busparkplatz Sauerstraße,Eckernförde
3,24429,Carlshöhe,Eckernförde
4,24430,Fischerkoppel,Eckernförde
...,...,...,...
192,28804,Karby - Am Ring,SMILE Süd
193,28813,Langholz,SMILE Süd
194,28814,Waabs Strand (Saisonale Station (April bis Okt...,SMILE Süd
195,28932,Gammelby Ort,SMILE Süd
196,29253,Rieseby Alte Post,SMILE Süd

In [5]:
df_philip.to_csv('data/Stationen nach Ausliehgebieten.csv', index=False)

In [13]:

# Vergleiche: Gibt es entityId in df_stations, die auch im Schlüssel von df_philip vorhanden sind?
common_entities = df_stations[df_stations['entityId'].isin(df_philip['Schlüssel'])]

# Finde Unterschiede: Welche entityId in df_stations sind nicht in df_philip?
unique_stations_entities = df_stations[~df_stations['entityId'].isin(df_philip['Schlüssel'])]

# Finde Unterschiede: Welche Schlüssel in df_philip sind nicht in entityId von df_stations?
unique_philip_keys = df_philip[~df_philip['Schlüssel'].isin(df_stations['entityId'])]

# Ausgabe der Ergebnisse
print("Gemeinsame entities:\n")
common_entities

Gemeinsame entities:

,entityId,station_name,maximum_capacity,latitude,longitude,subarea
0,30434,Felde Gemeindezentrum,18,54.299552,9.933817,Felde
1,30207,Sporthalle Saxtorfer Weg,15,54.487005,9.835833,Eckernförde
2,30151,Eiche Daenischenhagen,15,54.424663,10.127872,Kiel
3,30147,Bushaltestelle Eiderbruecke,15,54.289706,10.090042,Kiel Umland
4,30146,Herzog Friedrich Strasse ZOB,25,54.317114,10.133099,Kiel
...,...,...,...,...,...,...
189,24371,Anleger Reventlou,50,54.333647,10.151714,Kiel
190,24370,Alter Markt,25,54.322799,10.139499,Kiel
191,24369,Alte Mu Brunswiker Str,15,54.327583,10.141500,Kiel
192,24368,Umsteiger,22,54.314861,10.131167,Kiel
193,24367,Anleger Dietrichsdorf,30,54.329611,10.178556,Kiel

In [14]:
print("Einzigartige entityId in df_stations:\n")
unique_stations_entities

Einzigartige entityId in df_stations:

,entityId,station_name,maximum_capacity,latitude,longitude,subarea
139,24422,Faehre Nobiskrug,20,54.308426,9.709962,Rendsburg
194,99999,test,20,54.094400,10.252300,Plön

In [15]:
print("Einzigartige Schlüssel in df_philip:\n")
unique_philip_keys

Einzigartige Schlüssel in df_philip:

,Schlüssel,Stationsname,Ausleihgebiet
115,30023,Freibad Raisdorf (saisonal April bis Sommerende!),Kiel
125,30515,Alte Lübecker Chaussee,Kiel
129,24470,Fegetasche,Plön
194,28814,Waabs Strand (Saisonale Station (April bis Okt...,SMILE Süd

In [17]:
df_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   entityId          195 non-null    int64
 1   station_name      195 non-null    object
 2   maximum_capacity  195 non-null    int64
 3   latitude          195 non-null    float64
 4   longitude         195 non-null    float64
 5   subarea           195 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 9.3+ KB

In [18]:
# add to df_stations

# New data as a DataFrame
new_data = pd.DataFrame({
    'entityId': [30023, 30515, 24470, 28814],
    'station_name': ['Freibad Raisdorf  saisonal bis 22 09 24 ', 'Alte Luebecker Chaussee', 'Fegetasche', 'Waabs Strand'],
    'maximum_capacity': [15, 15, 20, 15],
    'latitude': [54.285998, 54.3045643, 54.153741, 54.525],
    'longitude': [10.246081, 10.1254699, 10.449131, 9.999951],
    'subarea':['Kiel Umland', 'Kiel', 'Plön', 'Eckernförde Umland Nord']
})

In [19]:
new_data

,entityId,station_name,maximum_capacity,latitude,longitude,subarea
0,30023,Freibad Raisdorf saisonal bis 22 09 24,15,54.285998,10.246081,Kiel Umland
1,30515,Alte Luebecker Chaussee,15,54.304564,10.125470,Kiel
2,24470,Fegetasche,20,54.153741,10.449131,Plön
3,28814,Waabs Strand,15,54.525000,9.999951,Eckernförde Umland Nord

In [20]:

# Add new rows using pandas.concat
df_stations = pd.concat([df_stations, new_data], ignore_index=True)

df_stations

,entityId,station_name,maximum_capacity,latitude,longitude,subarea
0,30434,Felde Gemeindezentrum,18,54.299552,9.933817,Felde
1,30207,Sporthalle Saxtorfer Weg,15,54.487005,9.835833,Eckernförde
2,30151,Eiche Daenischenhagen,15,54.424663,10.127872,Kiel
3,30147,Bushaltestelle Eiderbruecke,15,54.289706,10.090042,Kiel Umland
4,30146,Herzog Friedrich Strasse ZOB,25,54.317114,10.133099,Kiel
...,...,...,...,...,...,...
194,99999,test,20,54.094400,10.252300,Plön
195,30023,Freibad Raisdorf saisonal bis 22 09 24,15,54.285998,10.246081,Kiel Umland
196,30515,Alte Luebecker Chaussee,15,54.304564,10.125470,Kiel
197,24470,Fegetasche,20,54.153741,10.449131,Plön
198,28814,Waabs Strand,15,54.525000,9.999951,Eckernförde Umland Nord

In [21]:
# save

df_stations.to_csv('data/stations.csv', index=False)